<header class="ncbi-page-header" role="banner">
    <div class="prefix">
      <span class="nih" title="National Institutes of Health">
        <a href="https://www.nih.gov/" title="To NIH homepage">
          <img src="https://www.ncbi.nlm.nih.gov/labs/pubmed/static/base/images/nih-logo-white.svg" alt="NIH">
        </a>
      </span>
      <span class="nlm">
        <a href="https://www.nlm.nih.gov/" title="To NLM homepage">U.S. National Library of Medicine</a>
      </span>
    </div>
  
    <div class="ncbi">
      <abbr class="abbr">
        <a href="https://www.ncbi.nlm.nih.gov/" title="To NCBI homepage">NCBI</a>
      </abbr>
      <span class="name">
        <a href="https://www.ncbi.nlm.nih.gov/" accesskey="1" title="To NCBI homepage">National Center for Biotechnology Information</a>
      </span>
      <div class="myncbi">
        <span style="display:none" id="myncbiusername">
          <a title="Edit account settings" id="mnu" href="/account/settings/"></a>
        </span>
        <a style="display:none" id="myncbi" href="/myncbi/" accesskey="2">My NCBI</a>
        <a id="sign_in" href="https://www.ncbi.nlm.nih.gov/labs/account/">Log in</a>
        <a id="sign_out" style="display:none" href="https://www.ncbi.nlm.nih.gov/account/signout/">Log out</a>
      </div>
      <a href="https://www.ncbi.nlm.nih.gov/guide/browsers/#ncbi_accesskeys" class="usa-sr-only" accesskey="0">Accesskeys</a>
    </div>
    <div class="experiment-banner" id="experiment-banner">
        <div class="warning-message">
          <div class="warning-message-text">
            This is PubMed Labs, a test site. For PubMed go to <span style="white-space: nowrap"><a href="https://www.pubmed.gov/">pubmed.gov</a>.</span>
          </div>
          <button id="expand-banner-button"
                  class="expand-banner-button"
                  title="Expand experiment website status warning banner"
                  data-alt-title="Collapse experiment website status warning banner"
                  ref="linksrc=expand_collapse_banner"
                  aria-controls="experiment-banner-details"
                  aria-expanded="false">
          </button>
          <button id="close-banner-button"
                  class="close-banner-button"
                  title="Close experiment website status warning banner"
                  ref="linksrc=close_banner"
                  aria-controls="experiment-banner"
                  aria-expanded="true">
          </button>
        </div>
    </div>
  </header>