/* @group icomoon */

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h4uqaa');
  src:  url('fonts/icomoon.eot?h4uqaa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h4uqaa') format('truetype'),
    url('fonts/icomoon.woff?h4uqaa') format('woff'),
    url('fonts/icomoon.svg?h4uqaa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  -moz-osx-font-smoothing: grayscale;
} 
.action .icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
.action--show-index .icon::before {
  content: "book";
}

.action--add-selector .icon::before,
.icon-plus::before {
  content: "\add";
}

.action-search-history-download .icon::before{
  content: "download";
}

.action--use-query .icon::before{
  content: "search";  
}

.action--edit-query .icon::before{
  content: "edit";  
}

.action-search-history-clear .icon::before,
.action--remove-query .icon::before,
.action--remove-selector .icon::before,
.icon-minus::before {
  content: "bin";
}

/* blanket table and form overrides.
 * TO-DO: Double check against pubmed styles */
table {
    width: 100%;
    table-layout: fixed;
}
th {
    background-color: #eee;
	font-weight: 600;
	text-align: left;
}

table th,
table td{
    border: 1px solid #ddd;
    padding: 8px;
}

legend {
    padding: 0;
    display: table;
}
fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}

.field-select select {
    min-width: 0;
    background: white;
    padding-right: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 1.2;
    width: 100%;
}

.query-builder label { margin-top: 0; /* Pubmed override */ }

/* Override normal pubmed radio box handling */
.fieldset--radio input[type=radio] + label:before {
	display: none;
}

/* piggyback on button group for radio button groups, 
*  but we need to fill the buttons with the labels for checked state. 
*  Normally, we'd handle this with a mixin. */
.fieldset--radio.button-group > * { padding: 0; }

.fieldset--radio input[type=radio]:checked + label{
	background: #333;
	color: white;
	border-color: #333;
}
.fieldset--radio input[type=radio][disabled] + label{
	background: #e0e0e0;
	color: #999;
	cursor: not-allowed
}

.fieldset--boolean-operator .field label {
	line-height: 40px; /* align with pubmed inputs */
	margin-bottom: 0; /* override pubmed default margin */
	padding: 0 0.5em;
	min-width: 3em;
}

/* @group .query-builder */


.query-builder .field-any-all{
  display: inline-block;
  margin: 0;
  margin-right: 0.2em;
}

.query-builder .field-any-all select{
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: auto;
	font-size: 0.85em;
	font-weight: 600;
}

.query-builder .field-any-all::after{
	margin-bottom: 0.2em;
	border-width: 0.33em;
}

.query-builder fieldset legend,
.query-builder .selector label {
 position: absolute; left: -9999em;  
}

/* @end */

@media screen and (min-width: 533.33px) {
    fieldset.fieldset-date-range::after {
        content: "";
        display: table;
        clear: both;
    }
    fieldset.fieldset-date-range div.field {
        padding-bottom: 1.4em;
        position: relative;
        width: 50%;
        float: left;
        margin-bottom: 0;
    }
    fieldset.fieldset-date-range span.label-text {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        font-size: 12px;
    }
}
/* @end */

#search-input-textarea {
	width: 100%;
	max-width: 100%;
	min-height: 150px;
	margin: 0;
	color: #000;
	border-color: #369;
	border-width: 2px;
	background: #fff;
}
#search-input-textarea[readonly] {
	color: #888;
	border-color: #aaa;
	background: #f6f6f6;
}
#search-input-textarea[readonly]:focus {
	outline: 0;
}


/* @group search details + history */

.search-details { margin: 1em 0 0; }

.search-details p,
.search-details dt,
.search-details dd {
  max-width: 50em;
  line-height: 1.33em;
  font-style: inherit;
  font-size: 0.85em;
  margin: 0.75em 0;
}

.search-details dt {
  font-weight: 600;
  padding-top: 0.75em;
}

.search-details dl {
  border-left: 2px solid #ccc;
  padding-left: 0.8em; 
}

.search-details .search-details--results{
  padding-top: 0;
  display: inline;
}

.search-details dt.search-details--results::after{
  content: ":";
}

.search-details dd.search-details--search-expansion{
  font-family: Consolas, "Courier New", Courier, mono;
  font-size: 12px;
  max-width: 60em;
}

#query-builder .actions { width: 5em; }

/*********** Search history table ****************/
.search-history table {
	margin: 0 0 1em; /* Required pubmed override */
	font-size: 0.875em; /* Takes it down to ~14px */
}

td.q { 
	width: 80%;
	padding: 0; /* zero out padding so input fills */
}

td.q input { /* Hide input in cell and recreate table padding */
	border: 2px solid transparent;
	padding: 6px;
	max-width: 100%;
}
td.q input:focus { border-color: #369; }

/* Numeric cells should always be right-aligned */
.num { 
   width: 5em;
   text-align: right;
}

.history-controls { width: 114px }

.search-history tfoot button {
	margin: 0 0 0 1em; /* override pubmed standard margin */
	float: right;
}

/* BUTTONS AND BUTTON GROUPS ********************/
/* Pubmed mixes in .usa-button primary to all buttons
   And doesn't really use any other button styles.
   So we'll need to define them.
************************************************/
.button-group { white-space: nowrap }

/* we're scoping on all direct selectors to be
*  more flexible in regards to possible link or label-based groups */
.button-group > * { 
  border: 1px solid #aaa;
  background: linear-gradient(#fff, #eee);
  line-height: 30px;
  color: inherit;
  font-size: 0.85em;
  padding: 0 10px;
  box-shadow: 0 1px 0 #f8f8f8;
  margin: 0 -5px 0 0; /* collapse up double-border and inline-block gap */
  display: inline-block; /* more reliably block wrapping than float. Flex may be better yet. */
  text-align: center;
}

.button-group > *:hover {
  box-shadow: 0 1px 0 #f3f3f3;
  border: 1px solid #999; /* overrides pubmed standard color and width */
  color: #369; /* Overrides pubmed standard */
}

.button-group > *:active {
  background: linear-gradient(#eee, #f8f8f8);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.08), inset 0 -1px 0 rgba(255,255,255,0.125);
  color: #888;
}

.button-group > *:first-of-type { 
  border-radius: 3px 0 0 3px; 
}

.button-group > *:last-of-type { border-radius: 0 3px 3px 0; }

/* @end */

/******* WYSIWYG Styles ****************/

.layout--wysiwyg .query-builder { 
	min-width: 512px; 
	position: relative;
}

.layout--wysiwyg .query-preview--actions {
	position: absolute;
	top: 5px;
	right: 10px;
}
.layout--wysiwyg .query-builder .action {
  border: 1px solid #aaa;
  background-color:#f8f8f8;
  background: linear-gradient(#fff, #eee);
  font: inherit;
  height: 42px;
  line-height: 42px;
  color: inherit;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0 12px;
  box-shadow: 0 1px 0 #f8f8f8;
  margin: 0;
}

.layout--wysiwyg .query-builder .action:hover {
  border-color: #999;
  box-shadow: 0 1px 0 #f3f3f3;
}

.layout--wysiwyg .query-builder .action:active {
  background-color:#eee;
  background: linear-gradient(#eee, #f8f8f8);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.08), inset 0 -1px 0 rgba(255,255,255,0.125);
  color: #888;
}
/* TO-DO: Figure out spacing disparity that makes this necessary */
.layout--wysiwyg #search-history-wrapper { padding-top: 1em }

.layout--wysiwyg .query-builder--toolbar{ 
  background: #ddd;
  border: solid #ccc;
  border-width: 1px 1px 0;
  box-shadow: inset 0 1px #fff;
  border-radius: 3px 3px 0 0;
  margin-top: 0.5em;
  padding: 5px;
  position: relative;
}

.layout--wysiwyg .query-builder--toolbar input,
.layout--wysiwyg .query-builder--toolbar select { margin: 0; /* Required pubmed override */ }

.layout--wysiwyg .query-builder--toolbar {
  display: grid;
  grid-template-columns: 8em 10em 24em 8em;
  column-gap: 15px;
}
.layout--wysiwyg .query-builder--toolbar .field--value { position: relative; }

.layout--wysiwyg .query-builder .action--add {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  background: #aaa;
  color: white;
  border: 0;
  padding: 2px 8px 3px; 
  height: auto;
  min-height: 0;
  line-height: 1.67em;
  border-radius: 2px;
}

.layout--wysiwyg .query-preview-textarea #search-input-textarea {
	width: 100%;
	box-shadow: inset 0 1px rgba(0,0,0,0.03);
	height: 4em;
	min-height: auto;
}
/* @end */

.query-preview label,
.query-builder .label-text,
.button-group .label-text {
	position: absolute;
	left: -9999em;
}

/***************** ADVANCED SEARCH ***************************/

/* Override default pubmed usa-grid handling on this page for some extra width */
.layout--advanced-search .usa-grid,
.layout--wysiwyg, 
.layout--wysiwyg .usa-grid { padding: 20px 0; }

/* TO-DO: Create reusable heading styles ********/
.layout--advanced-search h1,
.search-history table caption,
.layout--wysiwyg h1 {
	text-transform: uppercase;
	font-size: 14px;
}

/** Query preview form **/
.layout--advanced-search .query-preview { 
	display: grid;
	grid-template-columns: calc(100% - 180px) 180px;
	column-gap: 20px;
}

/* Overrides a margin set on all submit buttons in pubmed 
 * for this special case */
.layout--advanced-search .query-preview [type=submit] { margin: 0 0 1.5em; }
.layout--advanced-search .query-preview-textarea { position: relative; }
.layout--advanced-search .query-preview--actions button { width: 100%; }
.layout--advanced-search .query-preview .action--edit-query,
.layout--advanced-search .query-preview .action--edit-query:hover{ 
	position: absolute;
	bottom: 8px;
	right: 10px;
	border: none;
	width: auto;
	font-size: 0.8em;
	text-decoration: underline;
	padding: 0;
	color: #4769b3;
	background: none;
}

/* selector-groups are the outer fieldset
 * Containing a group of selector fieldsets */
 .layout--advanced-search .query-builder--selector-group {
	border: 2px solid #ddd;
	padding: 4px;
	background: white;
}

/* selector fieldsets live within selector groups 
 * and wrap a set of query fields */
.query-builder .selector {
	margin-bottom: 2px;
	background: #eee;
	padding: 4px 10px;
	max-width: none;
	position: relative;
	display: grid;
	grid-template-columns: 5em 10em auto 8em;
	column-gap: 15px;
}

/* On the first selector in the first selector group, 
 * showing the boolean makes no sense. 
 * We also don't want to be able to delete the first row */
.query-builder--selector-group .selector:first-of-type .boolean-select,
.query-builder .selector:first-of-type .field-remove{ display: none; }

/* And because we don't show the remove button on the first-row,
*  We need to handle a single-button button group
* (this can be removed when we show the "show index" button) */
.query-builder .selector:first-of-type .button-group button:first-of-type { border-radius: 3px; }

/* Override pubmed default. We'll control max with grid */
.query-builder .selector input[type="text"] { max-width: 100% }

/* Because button-groups are artifically limited to ~30px 
*  And therefore fall off the baseline grid, we'll have to help them back on.
   Alternately, we should really consider just aligning them to the baseline grid. */
.query-builder .selector .button-group { padding: 8px 0 }

.query-builder--selector-group + .query-builder--selector-group {
	position: relative;
	margin-top: 2em;
}

/* The boolean-selecotor between selector groups */
.query-builder [name=selector-group-boolean-select]{
	position: absolute;
    left: 8px;
    top: -42px;
    font-size: 0.875em;
    width: 10em;
	z-index: 100;
	height: 40px; /* pubmed override */
}
