/* @override http://localhost:4000/assets/css/query-builder.css */

/* @group Search history */


#search-history table td {
	background: none;
	border-color: #888;
}

/* @end */

/* @group Query builder */

#query-builder,
#query-history { 
	background: #eee; 
	padding: 0.25em 0;
}

#search-history caption,
#query-builder h1,
.top-query-builder h1 {
	font-weight: 600;
	margin-bottom: 0.67em; 
	font-size: 0.85em;
	text-transform: uppercase;
	font-family: Source Sans Pro;
}

#query-builder .field-any-all {
  display: inline-block;
  margin: 0;
  margin-right: 0.2em;
}

#query-builder .field-any-all select {
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: auto;
	font-size: 0.85em;
	font-weight: 600;
}

#query-builder .field-any-all::after {
	margin-bottom: 0.2em;
	border-width: 0.33em;
}


#query-builder fieldset legend {
 position: absolute;
 left: -9999em;
}

#query-builder fieldset.selectors { 
    margin: 0;
    padding-top: 1em; 
}
#query-builder fieldset fieldset {
  padding: 0;
  margin: 0;
}

#query-builder form .button-toggle-recursive-search-mode{
  display: inline;
  font-size: 14px;
  margin: 0;
}

#query-builder fieldset.selector{
  margin-bottom: 0.2em;
}

#query-builder fieldset.selector:last-of-type{
	margin: 0;
}

#query-builder fieldset .field,
#query-builder fieldset .actions{
	float: left;
	margin: 0;
	margin-right: 1%;
}

#query-builder fieldset .field select,
#query-builder fieldset .field input{
	border-radius: 0;
	font-size: 0.85em;
  height: auto;
  border-color: #aaa;
}

#query-builder fieldset .field-select::after {
	margin-bottom: 0.3em;
}

#query-builder fieldset .actions{
  width: 10%;
  margin-right: 0;
  padding-top: 0.3em;
}

#query-builder fieldset .actions::after{
	content: "";
	display: table;
	clear: both;
}

.query-builder label{
  display: none;
}



/* @end */

/* specific to big advanced query builder */
.top-query-builder {
	padding-top: 0.5em;
}
.top-query-builder fieldset .field,
.top-query-builder fieldset .actions{
	width: 49%;
}
.top-query-builder .selector {
	width: 40%;
	display: inline-block;
}
.top-query-builder .selector select, 
.top-query-builder .selector input {
	width: 49%;
	display: inline-block;
}
.boolean-label {
	border-radius: 1em;
	padding: 0.25em 0.5em;
}
span.boolean-label {
	background: #ddd;
}

.boolean-label-add {
	border-radius: 1em;
	padding: 0 0.25em;
	cursor: pointer;
}

.selector-add {
	margin: 0.5em 0;
	display: inline-block;
}

.build-query {
	float:right;
}

/* https://codepen.io/JiveDig/pen/jbdJXR */
.switch-field {
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label:before {
	display:none !important;
}

.switch-field label {
	float: left;
 	margin-top: 1em;
}

.switch-field label {
display: inline-block;
width: 60px;
background-color: #e4e4e4;
color: rgba(0, 0, 0, 0.6);
font-size: 14px;
font-weight: normal;
text-align: center;
text-shadow: none;
padding: 6px 14px;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
-webkit-transition: all 0.1s ease-in-out;
-moz-transition:    all 0.1s ease-in-out;
-ms-transition:     all 0.1s ease-in-out;
-o-transition:      all 0.1s ease-in-out;
transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
cursor: pointer;
}

.switch-field input:checked + label {
background-color: #A5DC86;
-webkit-box-shadow: none;
box-shadow: none;
}

.switch-field label:first-of-type {
border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
border-radius: 0 4px 4px 0;
}

/* History */
#search-history th,
#search-history td {
	padding: 0.75rem;
}

.history-controls,
#query-builder .actions {
	width: 6em;
}
#search-history button,
#query-builder .actions button  {
	font-size: 14px; 
	margin: 0 0.125em;
	padding: 0.5em 1em;

}
td.q {
	cursor: pointer;
}

/* Search manager */
#search-manager .history-controls span {
	white-space: nowrap;
	font-size: 14px
}
#search-manager .query-stack div {
	width:33%;
	display: inline-block;
}

input.term-input.tt-input[readonly] {
	opacity: 50%
}


.search1-input-form [data-trigger] {
	display: none;
}
#search-input-textarea {
	width: 100%;
	max-width: 100%;
}
#search-input-textarea + button[type="submit"] {
	float: right;
}