 <section class="query-builder usa-grid">
  <h1>Query builder</h1>
  <form class="" action="index.html" method="post">
    <fieldset class="selector-group">
        <fieldset class="selector">
          {% include components/search-opts-snippet.html num="1" %}
        </fieldset>
       
        <button class="boolean-label add-field" type="button">
          <span class="boolean-label-add" title="add another">+</span>
          or
        </button>
        
    </fieldset>

    <div class="switch-field">
      <input type="radio" id="switch_left" name="switch_2" value=" AND " checked/>
      <label for="switch_left">And</label>
      <input type="radio" id="switch_right" name="switch_2" value=" NOT " />
      <label for="switch_right">Not</label>
      <input type="radio" id="switch_third" name="switch_2" value=" OR " />
      <label for="switch_third">Or</label>
    </div>
    
    <p>
        <button class="boolean-label selector-add selector-row-add" type="button">
            <span class="boolean-label-add" title="add another">+</span>
            add row
        </button>
        <!--
        <button class="boolean-label remove-row">
            <span class="boolean-label-remove" title="Remove row">-</span>
            remove row
          </button>
        -->
        </p>
    <!--
    <button class="build-query" type="button">
        Build my query
    </button>
    -->
  </form>
</section>

<script>
    
</script>