 <section id="query-builderx">
  <h1>Query builder</h1>
  <form class="" action="index.html" method="post">
    <fieldset class="selector-group">
        <fieldset class="selector">
          {% include components/search-opts-snippet.html num="1" %}
        </fieldset>
        <span class="boolean-label">or</span>
        <fieldset class="selector">
          {% include components/search-opts-snippet.html num="2" %}
        </fieldset>
        <button class="boolean-label add-field">
          <span class="boolean-label-add" title="add another">+</span>
          or
        </button>
    </fieldset>

    <div class="switch-field">
      <input type="radio" id="switch_left" name="switch_2" value="yes" checked/>
      <label for="switch_left">And</label>
      <input type="radio" id="switch_right" name="switch_2" value="no" />
      <label for="switch_right">Not</label>
    </div>
    
    <fieldset class="selector-group">
        <fieldset class="selector">
            {% include components/search-opts-snippet.html num="3" %}
        </fieldset>
        <button class="boolean-label add-field">
          <span class="boolean-label-add" title="add another">+</span>
          or
        </button>
    </fieldset>
    <button class="boolean-label selector-add">
        <span class="boolean-label-add" title="add another">+</span>
        and
    </button>
    <button class="build-query" type="button">
        Build my query
    </button>
  </form>
</section>

<script>
    
</script>