 <section id="query-builder">
  <h1>Query builder</h1>
  <form class="" action="index.html" method="post">
    <fieldset class="selector-group">
        <fieldset class="selector">
          {% include components/search-opts-snippet.html %}
        </fieldset>
        or
        <fieldset class="selector">
          {% include components/search-opts-snippet.html %}
        </fieldset>
    </fieldset>
    <div class="switch-field">
      <input type="radio" id="switch_left" name="switch_2" value="yes" checked/>
      <label for="switch_left">And</label>
      <input type="radio" id="switch_right" name="switch_2" value="no" />
      <label for="switch_right">Not</label>
    </div>
    <fieldset class="selector-group">
        <fieldset class="selector">
            {% include components/search-opts-snippet.html %}
        </fieldset>
        or
        <fieldset class="selector">
            {% include components/search-opts-snippet.html %}
        </fieldset>
    </fieldset>
    <button type="submit">Search</button>
  </form>
</section>