<div id="overlay" class="overlay citation-dialog-overlay" role="dialog" style="z-index: 11;">
    <div id="citation-dialog" class="dialog citation-dialog">
      <button class="close-overlay" tabindex="4">[x]</button>
      <div class="title">
        Citation text
      </div>
      <div class="citation-text-block" data-all-citations-url="/labs/pubmed/23485231/citations/">
        <textarea
          id="citation-text-content"
          class="citation-text"
          title="Formatted citation"
          data-citation-style="AMA"
          readonly
          tabindex="1"
        ></textarea>
    
        <div class="citation-actions">
          <button class="copy-button usa-button-gray" ref="linksrc=copy_citation_btn" tabindex="2">
            <span class="button-title">Copy</span>
          </button>
    
          <a href="/labs/pubmed/23485231/export/ris/"
              class="export-button"
              rel="nofollow"
              ref="linksrc=export_citation_btn"
              title="Download as .RIS file, suitable for most reference managers"
              tabindex="3">
            <span class="button-title">Download .RIS</span>
          </a>
    
          <div class="selector-wrap">
            <label for="citation-style-selector" id='citation-style-selector-label' class="selector-label">Format </label>
            <select id="citation-style-selector" class="citation-style-selector" tabindex="4">
              <option id="MLA"
                data-style-url-name="modern-language-association"
                value="MLA"
              >MLA</option>
        
              <option id="AMA"
                data-style-url-name="american-medical-association"
                value="AMA"
                selected="selected">
              AMA</option>
        
              <option id="APA"
                data-style-url-name="apa"
                value="APA"
              >APA</option>
            </select>
          </div>
    
        </div><!-- /citation-actions -->
      </div><!-- /citation-text-block -->
    </div><!-- /citation-dialog -->

    <div class="dots-loading-indicator citation-loading-indicator">
      <div class="dot dot-1"></div>
      <div class="dot dot-2"></div>
      <div class="dot dot-3"></div>
    </div>
</div>