<div class="experiment-banner" id="experiment-banner">
    <div class="warning-message">
      <div class="warning-message-text">
        This is PubMed Labs, a test site. For PubMed go to <span style="white-space: nowrap"><a href="https://www.pubmed.gov/">pubmed.gov</a>.</span>
      </div>
      <button id="expand-banner-button"
              class="expand-banner-button"
              title="Expand experiment website status warning banner"
              data-alt-title="Collapse experiment website status warning banner"
              ref="linksrc=expand_collapse_banner"
              aria-controls="experiment-banner-details"
              aria-expanded="false">
      </button>
      <button id="close-banner-button"
              class="close-banner-button"
              title="Close experiment website status warning banner"
              ref="linksrc=close_banner"
              aria-controls="experiment-banner"
              aria-expanded="true">
      </button>
    </div>
</div>