<form action="/search/results" class="query-preview">
    <div class="query-preview-textarea">
        <label for="search-input-textarea">Query</label>
        <textarea name="query" id="search-input-textarea" cols="30" rows="4" placeholder="Type a search, or use the builder below to get started."></textarea>
    </div>
    <div class=" query-preview--actions">
        <button class="action action--search" type="submit">Search</button>
        <button class="action action--show-details" type="button">Show details</button>
        <button class="action action--add-to-history" type="button">Add to history</button>
    </div>
</form>
