 <section class="usa-grid">
    <h1>Query builder</h1>
    <form class="" action="index.html" method="post">
    <!-- We can't do this yet.
    <button type="submit" name="button" class="button-toggle-recursive-search-mode">Search within a prior search</button>
    -->
    <span class="show-articles-that-match">Show articles that match</span>
    <div class="field field-select field-any-all">
        <label for="">Additive or subtractive</label>
        <select class="" name="" id="id-and-or">
            <option value="OR">Any</option>
            <option value="AND">All</option>
        </select>
    </div>
    <span class="of-the-following-selectors">of the following selectors.</span>
    <fieldset class="selectors selector-group">
        {% include components/query-builder-row.html %}
        <div class="actions">
            <button type="button" class="field-add" title="add a row">&#10133;</button>
        </div>
    </fieldset>
    <fieldset class="selector  selector-group">
        {% include components/query-builder-row.html %}
        <div class="actions">
            <button type="button" class="field-add" title="add a row">&#10133;</button>
            <button type="button" class="field-remove" title="remove this row">&#10134;</button>
        </div>
    </fieldset>
    <button type="button" class="add-query-history">
        <span>Add to history</span>
    </button>
    <!--
    <button class="build-query" type="button">
        Build my query
    </button>
    -->
    </form>
</section>