<form action="/search/results" class="query-preview">
    <div class="query-preview-textarea">
        <label for="search-input-textarea">Query</label>
        <textarea name="query" readonly="readonly" id="search-input-textarea" cols="30" rows="4" placeholder="Type a search, or use the builder below to get started."></textarea>
        <button type="button" class="action action-edit-query" id="edit-query-button">Edit</button>
    </div>
    <div class=" query-preview--actions">
        <button class="action add-to-history" type="submit">Search</button>
        <button class="action action-show-details" type="button">Show details</button>
        <button class="action add-to-history" type="button">Add to history</button>
    </div>
</form>
