<div class="selector">
    <div>
        <select class="boolean-select" name="">
            <option>AND</option>
            <option>OR</option>
            <option>NOT</option>
        </select>
    </div>
    <div>
    <label for="id-search-opts-{{ num }}">Search in</label>
    <select class="search-opts" name="search-opts-{{ num }}" id="id-search-opts-{{ num }}">
        <option value="">Search in...</option>
        <option>Affiliation</option>
        <option>All Fields</option>
        <option>Author</option>
        <option>Author - Corporate</option>
        <option>Author - First</option>
        <option>Author - Full</option>
        <option>Author - Identifier</option>
        <option>Author - Last</option>
        <option>Book</option>
        <option>Conflict of Interest Statements</option>
        <option>Date - Completion</option>
        <option>Date - Create</option>
        <option>Date - Entrez</option>
        <option>Date - MeSH</option>
        <option>Date - Modification</option>
        <option>Date - Publication</option>
        <option>EC/RN Number</option>
        <option>Editor</option>
        <option>Filter</option>
        <option>Grant Number</option>
        <option>ISBN</option>
        <option>Investigator</option>
        <option>Investigator - Full</option>
        <option>Issue</option>
        <option>Journal</option>
        <option>Language</option>
        <option>Location ID</option>
        <option>MeSH Major Topic</option>
        <option>MeSH Subheading</option>
        <option>MeSH Terms</option>
        <option>Other Term</option>
        <option>Pagination</option>
        <option>Pharmacological Action</option>
        <option>Publication Type</option>
        <option>Publisher</option>
        <option>Secondary Source ID</option>
        <option>Subject - Personal Name</option>
        <option>Supplementary Concept</option>
        <option>Text Word</option>
        <option>Title</option>
        <option>Title/Abstract</option>
        <option>Transliterated Title</option>
        <option>Volume</option>
    </select>
    </div>
    <div>
    <label for="id-search-term-{{ num }}">Search for</label>
    <input name="search-term-{{ num }}" id="id-search-term-{{ num }}" placeholder="For..." />
    </div>
    <div class="actions">
        <button type="button" class="field-add" title="add a row">&#10133;</button>
        <button type="button" class="field-remove" title="remove this row">&#128465;</button>
    </div>
</div>
