<details id="search-details" class="search-details">
    <summary>Search details</summary>
    <p>For more information about a search, enter a query above and click &ldquo;show details.&rdquo;</p>
    <p><em>Note these details are not real, and are for testing purposes only.</em></p>

    <dl>
        <dt class="search-details--results">Results</dt>
        <dd class="search-details--results">1,946</dd>
        <dt class="search-details--search-expansion">Search expansion</dt>
        <dd class="search-details--search-expansion">"myocardial infarction"[MeSH Terms] OR ("myocardial"[All Fields] AND "infarction"[All Fields]) OR "myocardial infarction"[All Fields] OR ("heart"[All Fields] AND "attack"[All Fields]) OR "heart attack"[All Fields]</dd>          
    </dl>
</details>