<section id="search-history" class="search-history">
  <table>
    <caption>Search history</caption>
    <thead>
      <tr>
        <th class="q">Query</th>
        <th class="num">Results</th>
        <th class="history-controls">Actions</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="3">
          <button id="history-download" class="usa-button-secondary action-search-history-download">
              <span class="icon"></span>
              <span class="label-text">Download</span>
          </button>
          <button id="history-clear" class="usa-button-secondary action-search-history-clear">
            <span class="icon icon-history-clear"></span>
            <span class="label-text">Clear</span>
          </button>
        </td>
      </tr>
    </tfoot>
    <tbody id="search-table-body">
      <tr>
        <td class="q">
          <input type="text" readonly="readonly" value="References for PMC Articles for PubMed (Select 29381688)">
          <p class="search-details" hidden>These are not real search details AND they are faked AND (References for PMC Articles for PubMed (Select 29381688))[MeSH Terms] OR (References for PMC Articles for PubMed (Select 29381688)[All Fields])</p>
        </td>
        <td class="num"><a href="#" title="Results for this query">33</a></td>
        <td class="history-controls button-group">
          <button type="button" class="action use-q action--use-query" title="Use this query">
            <span class="icon"></span>
            <span class="label-text">Use this query</span>
          </button>
          <button type="button" class="action action--edit-query edit-q" title="Edit this query">
            <span class="icon"></span>
            <span class="label-text">Edit this query</span>
          </button>
          <button type="button" class="action toggle-details" title="View details of this query">
            <span class="icon icon-info">&#9432;</span>
            <span class="label-text">View details of this query</span>
          </button>
          <button type="button" class="action action--remove-query rm-q" title="Remove this query">
            <span class="icon"></span>
            <span class="label-text">Remove this query</span>
          </button>
        </td>
      </tr>
      <tr>
        <td class="q">
          <input type="text" readonly="readonly" value="Reduced[Title] AND mannosidase[Title] AND MAN1A1[Title] AND expression[Title] AND leads[Title]">
          <p class="search-details" hidden>These are not real search details AND they are faked AND (Reduced[Title] AND mannosidase[Title] AND MAN1A1[Title] AND expression[Title] AND leads[Title])[MeSH Terms] OR (Reduced[Title] AND mannosidase[Title] AND MAN1A1[Title] AND expression[Title] AND leads[Title])[All Fields])</p>
        </td>
        <td class="num"><a href="#" title="Results for this query">1</a></td>
        <td class="history-controls button-group">
          <button type="button" class="action use-q action--use-query" title="Use this query">
            <span class="icon"></span>
            <span class="label-text">Use this query</span>
          </button>
          <button type="button" class="action action--edit-query edit-q" title="Edit this query">
            <span class="icon"></span>
            <span class="label-text">Edit this query</span>
          </button>
          <button type="button" class="action toggle-details" title="View details of this query">
            <span class="icon icon-info">&#9432;</span>
            <span class="label-text">View details of this query</span>
          </button>
          <button type="button" class="action action--remove-query rm-q" title="Remove this query">
            <span class="icon"></span>
            <span class="label-text">Remove this query</span>
          </button>
        </td>
      </tr>
      <tr>
        <td class="q">
          <input type="text" readonly="readonly" value="(((breast cancer treatment) NOT Contu[Author]) AND Hunter[Author]) NOT Journal of the American Medical Association[journal]">
          <p class="search-details" hidden>These are not real search details AND they are faked AND ((((breast cancer treatment) NOT Contu[Author]) AND Hunter[Author]) NOT Journal of the American Medical Association[journal])[MeSH Terms] OR ((((breast cancer treatment) NOT Contu[Author]) AND Hunter[Author]) NOT Journal of the American Medical Association[journal])</p>
        </td>
        <td class="num"><a href="#" title="Results for this query">2537</a></td>
        <td class="history-controls button-group">
          <button type="button" class="action use-q action--use-query" title="Use this query">
            <span class="icon"></span>
            <span class="label-text">Use this query</span>
          </button>
          <button type="button" class="action action--edit-query edit-q" title="Edit this query">
            <span class="icon"></span>
            <span class="label-text">Edit this query</span>
          </button>
          <button type="button" class="action toggle-details" title="View details of this query">
            <span class="icon icon-info">&#9432;</span>
            <span class="label-text">View details of this query</span>
          </button>
          <button type="button" class="action action--remove-query rm-q" title="Remove this query">
            <span class="icon"></span>
            <span class="label-text">Remove this query</span>
          </button>
        </td>
      </tr>
      <tr>
        <td class="q">
          <input type="text" readonly="readonly" value="'astrology'[MeSH Terms]">
          <p class="search-details" hidden>These are not real search details AND they are faked AND (astrology)[MeSH Terms] OR (astrology)</p>
        </td>
        <td class="num"><a href="#" title="Results for this query">17389</a></td>
        <td class="history-controls button-group">
          <button type="button" class="action use-q action--use-query" title="Use this query">
            <span class="icon"></span>
            <span class="label-text">Use this query</span>
          </button>
          <button type="button" class="action action--edit-query edit-q" title="Edit this query">
            <span class="icon"></span>
            <span class="label-text">Edit this query</span>
          </button>
          <button type="button" class="action toggle-details" title="View details of this query">
            <span class="icon icon-info">&#9432;</span>
            <span class="label-text">View details of this query</span>
          </button>
          <button type="button" class="action action--remove-query rm-q" title="Remove this query">
            <span class="icon"></span>
            <span class="label-text">Remove this query</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
