<section id="search-history" class="search-history">
  <h1>History</h1>
  <div class="search-history--actions actions">
    <button id="history-download" class="action action-search-history-download">
      <span class="icon"></span>
      <span class="label-text">Download</span>
    </button>
    <button id="history-clear" class="action action-search-history-clear">
      <span class="icon icon-history-clear"></span>
      <span class="label-text">Clear</span>
    </button>
  </div>

  <table>
    <caption>Search history</caption>
    
    <thead>
      <tr>
        <th class="q">Query</th>
        <th class="num">Results</th>
        <th class="history-controls">Actions</th>
      </tr>
    </thead>
    <tbody id="search-table-body">
      <tr>
        <td class="q">References for PMC Articles for PubMed (Select 29381688)</td>
        <td class="num"><a href="#" title="Results for this query">33</a></td>
        <td class="history-controls">
          <button type="button" class="action use-q action--use-query" title="Use this query">
            <span class="icon"></span>
            <span class="label-text">Use this query</span>
          </button>
          <button type="button" class="action action--edit-query edit-q" title="Edit this query">
            <span class="icon"></span>
            <span class="label-text">Edit this query</span>
          </button>
          <button type="button" class="action action-remove-query rm-q" title="Remove this query">
            <span class="icon"></span>
            <span class="label-text">Remove this query</span>
          </button>
        </td>
      </tr>
      <tr>
        <td class="q">Reduced[Title] AND mannosidase[Title] AND MAN1A1[Title] AND expression[Title] AND leads[Title]</td>
        <td class="num"><a href="#" title="Results for this query">1</a></td>
        <td class="history-controls">
          <button type="button" class="action use-q action--use-query" title="Use this query">
            <span class="icon"></span>
            <span class="label-text">Use this query</span>
          </button>
          <button type="button" class="action action--edit-query edit-q" title="Edit this query">
            <span class="icon"></span>
            <span class="label-text">Edit this query</span>
          </button>
          <button type="button" class="action action-remove-query rm-q" title="Remove this query">
            <span class="icon"></span>
            <span class="label-text">Remove this query</span>
          </button>
        </td>
      </tr>
      <tr>
        <td class="q">(((breast cancer treatment) NOT Contu[Author]) AND Hunter[Author]) NOT Journal of the American Medical Association[journal]</td>
        <td class="num"><a href="#" title="Results for this query">2537</a></td>
        <td class="history-controls">
          <button type="button" class="action use-q action--use-query" title="Use this query">
            <span class="icon"></span>
            <span class="label-text">Use this query</span>
          </button>
          <button type="button" class="action action--edit-query edit-q" title="Edit this query">
            <span class="icon"></span>
            <span class="label-text">Edit this query</span>
          </button>
          <button type="button" class="action action-remove-query rm-q" title="Remove this query">
            <span class="icon"></span>
            <span class="label-text">Remove this query</span>
          </button>
        </td>
      </tr>
      <tr>
        <td class="q">"astrology"[MeSH Terms]</td>
        <td class="num"><a href="#" title="Results for this query">17389</a></td>
        <td class="history-controls">
          <button type="button" class="action use-q action--use-query" title="Use this query">
            <span class="icon"></span>
            <span class="label-text">Use this query</span>
          </button>
          <button type="button" class="action action--edit-query edit-q" title="Edit this query">
            <span class="icon"></span>
            <span class="label-text">Edit this query</span>
          </button>
          <button type="button" class="action action-remove-query rm-q" title="Remove this query">
            <span class="icon"></span>
            <span class="label-text">Remove this query</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>