<section id="search-history">  
  <table>
    <caption>
      Search history
      <span class="actions">
        <a href="#">Download</a>
        <a href="#">Clear</a>        
      </span>
    </caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Query</th>
        <th>Results</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">4</a></td>
        <td><a href="#">References for PMC Articles for PubMed (Select 29381688)</a></td>
        <td><a href="#">33</a></td>
        <td><a href="#">13:11:27</a></td>
      </tr>
      <tr>
        <td><a href="#">3</a></td>
        <td><a href="#">Reduced[Title] AND mannosidase[Title] AND MAN1A1[Title] AND expression[Title] AND leads[Title]</a></td>
        <td><a href="#">1</a></td>
        <td><a href="#">13:09:45</a></td>
      </tr>
      <tr>
        <td><a href="#">2</a></td>
        <td><a href="#">Search: breast reconstruction; Filters: Free full text</a></td>
        <td><a href="#">2537</a></td>
        <td><a href="#">13:03:42</a></td>
      </tr>
      <tr>
        <td><a href="#">1</a></td>
        <td><a href="#">Search: breast reconstruction</a></td>
        <td><a href="#">17389</a></td>
        <td><a href="#">13:03:24</a></td>
      </tr>
    </tbody>
  </table>
</section>