---
title: Advanced search
permalink: /advanced-search/

layout: default
---
<main class="layout--advanced-search">
  <div class="advanced-search--primary-controls usa-grid">
    <h1>Advanced search</h1>

    {% include components/query-preview-form.html %}

    <section class="query-builder">
      <h1>Query builder</h1>
      <form action="." method="get">
        {% include components/query-builder.html %}
        <button class="selector-row-add usa-button-secondary" type="button">Add another group</button>
      </form>
    </section>
    {% include components/search-details.html %}
  </div>
  
  <div id="search-history-wrapper" class="usa-grid">
    {% include components/search-history.html %}
  </div>    
</main>