---
title: Search
permalink: /search/

layout: default

styles: "https://www.ncbi.nlm.nih.gov/labs/pubmed/static/CACHE/css/b9368b918d17.css"
---
<div class="search1-input-form">
  {% include components/inner-search-form.html %}
</div>

<div class="top-query-builder">
  {% include components/advanced-query-builder.html %}
</div>

<div role="search" class="usa-grid search-input">
    <div class="form-field autocomplete-parent">
      <label class="usa-sr-only" for="search-input-textarea">
        Search:
      </label>
      <textarea id="search-input-textarea"></textarea>
      <button type="submit" class="search-btn" ref="linksrc=search_btn" aria-label="Search"><span class="usa-search-submit-text">Search</span></button>
    </div>
  </div>

{% include components/search-history.html %}


<script>
    //var searchInput = document.querySelector('input.term-input.tt-input');
    var searchInput = document.getElementById('search-input-textarea');

    function buildQuery() {
      console.log('building query');
      var output = '';
      var qbSelectGroups = document.querySelectorAll('.selector-group');
      // Go through selector groups
      for (i = 0; i < qbSelectGroups.length; ++i) {
        if (i > 0) {
          output += " AND "
        }
        // now find all the selectors within this selector groups
        var selectors = qbSelectGroups[i].querySelectorAll('.selector');
        for (j = 0; j < selectors.length; ++j) {
          // first get the term value
          var termInput = selectors[j].querySelector('input')
          if (termInput.value.length > 0) {
            if (j > 0) {
              output += " OR "
            }
            output += '"' +  termInput.value + '"';
            output += '[' + selectors[j].querySelector('select').value + ']';
          }
        }
        // if there are multiple selectors in the selector group,
        // then we have to wrap in parens
        if (selectors.length > 1) {
          output = "(" + output + ")";
        }
      }
      searchInput.value = output;
    }

    var newField = `
      <span class="boolean-label">or</span><fieldset class="selector">
          {% include components/search-opts-snippet.html num="2" %}
        </fieldset>
      `;

    document.addEventListener("DOMContentLoaded", function() {
      // Make history items pop into query box.
      var historyItems = document.querySelectorAll('.use-q');
      var historyAddItems = document.querySelectorAll('.add-q');
      // .use-q: replace current query
      for (i = 0; i < historyItems.length; ++i) {
        historyItems[i].addEventListener("click", function(e){
          searchInput.value = this.parentElement.nextElementSibling.innerHTML;
        });
      }
      for (i = 0; i < historyAddItems.length; ++i) {
        historyAddItems[i].addEventListener("click", function(e){
          searchInput.value += ' AND ' + this.parentNode.nextElementSibling.innerHTML;
        });
      }
      // make history download "work"
      document.getElementById('history-download').addEventListener("click", function(e){
        alert("Your download would be happening now if this weren't a prototype.");
      });
      // Make history clear "work"
      document.getElementById('history-clear').addEventListener("click", function(e){
        document.getElementById('history-body').innerHTML =
          '<tr><td>1</td><td class="q"></td><td></td><td></td></tr>'
      });
      // Make query builder "work"
      var qbSelects = document.querySelectorAll('.selector select');
      var qbInputs = document.querySelectorAll('.selector input');
      var fieldAdder = document.querySelectorAll('button.add-field');
      
      document.querySelector('.build-query').addEventListener("click", function(e) {
        e.preventDefault();
        buildQuery();
      });
      for (i = 0; i < qbSelects.length; ++i) {
        qbSelects[i].addEventListener("change", function() {
          buildQuery();
        });
      }
      for (i = 0; i < qbInputs.length; ++i) {
        qbInputs[i].addEventListener("blur", function() {
          buildQuery();
        });
      }
      for (i = 0; i < fieldAdder.length; ++i) {
        fieldAdder[i].addEventListener("click", function(e) {
          e.preventDefault();
          this.insertAdjacentHTML('beforebegin', newField);
          buildQuery();
        });
      }
    });
    // Toggle readonly state. 
      // I have no idea what this is doing, but found it here:
      // https://jcubic.wordpress.com/2017/05/12/execute-callback-in-javascript-when-a-div-change-visibility-with-html5/
      var mgr = document.getElementById('query-builder');

      document.querySelector('[data-trigger="query-builder"]').addEventListener("click", function(e) {
        console.log('clicked trigger')
        if (mgr.hasAttribute('hidden') == true) {
          searchInput.setAttribute('readonly', 'readonly');
          document.querySelector('.search-btn').setAttribute('disabled', 'disabled');
        } else {
          searchInput.removeAttribute('readonly');
          document.querySelector('.search-btn').removeAttribute('disabled');
        }
      });
</script>