---
title: wysiwyg
permalink: /wysiwyg/

layout: default
---
<main class="layout--wysiwyg usa-grid">
  <h1>Advanced search</h1>
  <section class="query-builder">
      <form action="#"  class="query-builder--toolbar">
        <fieldset class="fieldset--radio button-group fieldset--boolean-operator">
          <div class="field field--radio field--and">
            <input type="radio" value=" AND " name="wysiwyg-boolean" id="boolean-and" checked />
            <label for="boolean-and">
              <span class="field--text">And</span>
            </label>
          </div>
          <div class="field field--radio field--or">
            <input type="radio" value=" OR " name="wysiwyg-boolean" id="boolean-or" />
            <label for="boolean-or">
              <span class="field--text">Or</span>
            </label>
          </div>
          <div class="field field--radio field--not">
            <input type="radio" value=" NOT " name="wysiwyg-boolean" id="boolean-not" />
            <label for="boolean-not">
              <span class="field--text">Not</span>
            </label>
          </div>
        </fieldset>
        
        <label for="id-wysiwyg-field-type" class="field field--select field--field-type">
          <span class="label-text">Field</span>
          <select name="wysiwyg-field-type" id="id-wysiwyg-field-type">
            <option selected>All Fields</option>
            <option>Affiliation</option>
            <option>Author</option>
            <option>Author - Corporate</option>
            <option>Author - First</option>
            <option>Author - Full</option>
            <option>Author - Identifier</option>
            <option>Author - Last</option>
            <option>Book</option>
            <option>Conflict of Interest Statements</option>
            <option>Date - Completion</option>
            <option>Date - Create</option>
            <option>Date - Entrez</option>
            <option>Date - MeSH</option>
            <option>Date - Modification</option>
            <option>Date - Publication</option>
            <option>EC/RN Number</option>
            <option>Editor</option>
            <option>Filter</option>
            <option>Grant Number</option>
            <option>ISBN</option>
            <option>Investigator</option>
            <option>Investigator - Full</option>
            <option>Issue</option>
            <option>Journal</option>
            <option>Language</option>
            <option>Location ID</option>
            <option>MeSH Major Topic</option>
            <option>MeSH Subheading</option>
            <option>MeSH Terms</option>
            <option>Other Term</option>
            <option>Pagination</option>
            <option>Pharmacological Action</option>
            <option>Publication Type</option>
            <option>Publisher</option>
            <option>Secondary Source ID</option>
            <option>Subject - Personal Name</option>
            <option>Supplementary Concept</option>
            <option>Text Word</option>
            <option>Title</option>
            <option>Title/Abstract</option>
            <option>Transliterated Title</option>
            <option>Volume</option>
          </select>
        </label>
        
        <div class="field field--value">
          <label for="id-wysiwyg-field--value">
            <span class="label-text">Value</span>
            <input type="text" name="wysiwyg-field--value" id="id-wysiwyg-field-value" value="">
          </label>
          <button type="submit" class="action action--add">Add</button>
        </div>

      
      <div class="actions">
        <!-- We are not prepared to implment show index yet.
          but we're leaving the parent as a placeholder 
          and to keep grid working nicely
        <a href="#" class="action action--show-index-list">
          <span class="icon-text">Show index</span>
          <span class="icon icon--show-index-list"></span>
        </a>-->
      </div>
    </form>

    {% include components/query-preview-form.html %}
  </section>

  <div id="search-history-wrapper">
    {% include components/search-history.html %}
  </div>
</main>
