---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head prefix="og: http://ogp.me/ns#">
    {% include meta.html %}
    {% include styles.html %}
    {% if site.google_analytics_ua or site.dap_agency %}
      {% include analytics.html %}
    {% endif %}
  </head>
  <body class="{{ layout.class }} {{ page.class }} {% if site.site_width %}site-{{ site.site_width }}{% endif %}">

    {% include skipnav.html %}
    {% include header.html %}

    <main id="main-content"{% for _attr in layout.main %} {{ _attr[0] }}="{{ _attr[1] }}"{% endfor %} class="ncbi-base-page-container">
    {{ content }}
    </main>

    {% include footer.html %}
    {% include scripts.html %}
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Super quick and simple vanilla JS dialog triggering script
        var triggers = document.querySelectorAll('[data-trigger]');
  
        for (i = 0; i < triggers.length; ++i) {
          var id = triggers[i].getAttribute('[data-trigger]');
          var target = document.getElementById(id);
          target.classList.add('js-target-dialog');
          target.style.display = 'none';
          triggers[i].addEventListener("click", function(){
            if (target.style.display == 'none') {
              target.style.display = 'block';
            } else {
              target.style.display = 'none';
            }
          }, false);
        }
      });
    </script>
  </body>
</html>
