---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head prefix="og: http://ogp.me/ns#">
    {% include meta.html %}
    {% include styles.html %}
    {% if site.google_analytics_ua or site.dap_agency %}
      {% include analytics.html %}
    {% endif %}
    <style>
        /* quick and dirty overrides */
        .search-form>.inner-wrap {width: auto}
        #search-history { padding-bottom: 1em }
        #search-history .actions > * { 
          font-size: 0.8em; 
          margin: 0 1em;
          display: inline-block;
        }
    </style>
  </head>
  <body class="{{ layout.class }} {{ page.class }} {% if site.site_width %}site-{{ site.site_width }}{% endif %}">

    {% include skipnav.html %}
    {% include header.html %}

    <main id="main-content"{% for _attr in layout.main %} {{ _attr[0] }}="{{ _attr[1] }}"{% endfor %} class="ncbi-base-page-container">
    {{ content }}
    </main>

    {% include footer.html %}
    {% include scripts.html %}
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Super quick and simple vanilla JS dialog triggering script
        // This really should be working on aria roles, but eh, prototyping.
        // Not for prod.
        var triggers = document.querySelectorAll('[data-trigger]');
        var closers = document.querySelectorAll('.close-overlay')
        var overlay = document.getElementById('overlay');
  
        for (i = 0; i < triggers.length; ++i) {
          var id = triggers[i].getAttribute('data-trigger');
          let target = document.getElementById(id);
          target.classList.add('js-target-dialog');
          target.setAttribute('hidden', 'hidden');

          triggers[i].addEventListener("click", function(e){
            e.preventDefault();
            console.log("this", this);
            let currentTarget = document.getElementById(this.getAttribute('data-trigger'));
            if (currentTarget.hasAttribute('hidden')) {
              currentTarget.removeAttribute('hidden');
              overlay.classList.add('active');
            } else {
              currentTarget.setAttribute('hidden', 'hidden');
              overlay.classList.remove('active');
            }
          }, false);
        }
        for (i = 0; i < closers.length; ++i) {
          closers[i].addEventListener("click", function(e){
              e.preventDefault();
              var dialog = this.closest('.js-target-dialog'); 
              dialog.setAttribute('hidden', 'hidden');
              overlay.classList.remove('active');
          }, false);
        }
        if (typeof overlay !== "undefined") {
          overlay.addEventListener("click", function(e){
            overlay.classList.remove('active');
            overlay.querySelector('.js-target-dialog').setAttribute('hidden', 'hidden');
          }, false);
        }
      });
    </script>
  </body>
</html>
